@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

:root {
    --white: #f9f9f9;
    --dark: #1d1d1d;
    --red: #ec111a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
label,
a,
p {
    font-family: Sora, "sans-serif";
    color: var(--white);
}
