.main-container {
    width: 100%;
    height: calc(100% - 10rem);

    .main-content {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        > div {
            width: 35rem;
            height: 7rem;
            background-image: url("../../assets/button-main.svg");

            cursor: pointer;
        }
    }
}
