.container {
    width: 100vw;
    height: 100vh;

    background-image: url("https://s3-alpha-sig.figma.com/img/2d78/8f4e/08d571dfbbee3770d9555c32e40a7951?Expires=1642982400&Signature=WAutbik0MHVB2sN1lewYgLT1z076~wq1GpE2gUSO5zecnam9CNYaJIF2T7piyTaUTZvlKif1PZq9RL-yZNN0KizJ8c0-tY2vWXXWTg~VAiweeKdVvDFYXsqVYbOMEAm9sCYBdYIFUw3QZD4B3cjoa0B3WFAV6fsG1COxHPzPuOeVZZSvCRgGCh9-Zx33l5LGvf2AbTnNiq2eONPUmn-2jFPbkXOgOdfk-rgkLwAau4yrIO8BhtzOfOv7JezBuEKBVPFUGbY8wTP0DrcGUPGutkZrAFQAX54rMWvGKWu524gFXD-GESfsCXz-TzrIk3PWEO5t3R5hykesSOJ9KfvlKg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-position: cover;
    background-size: cover;

    display: flex;
    flex-direction: row-reverse;
}
